/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
    width: 90%;
    margin: auto;
}

a {
	text-decoration: none;
	color: grey;
}

img {
    width: 100%;
}

header nav {
	display: inline-block;
	margin-left: 75px;
}

header nav a {
	padding: 40px;
}

.logo {
	width: 250px;
	height: 75px;
	display: inline-block;
	vertical-align: bottom;
	margin-top: 10px;
	margin-left: 20px;
}

.started_button {
	border: 1px solid black;
	display: inline-block;
	padding: 10px 30px;
}

.main_text {
	display: inline-block;
	margin: 10%;
	vertical-align: middle;
	text-align: center;
}

.main_text h1 {
	font-size: 75px;
}

.main_image {
	width: 400px;
	height: 400px;
	display: inline-block;
	vertical-align: middle;
}

.content_1_box {
	display: inline-block;
	width: 500px;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content_2_box {
	display: inline-block;
	width: 350px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
}

.contact {
	margin-top: 20px;
	margin-left: 30px;
}

.copyright {
	margin-top: 20px;
	text-align: center;
}